{% extends 'base/user_base.html' %}
{% block title %}{{ companyinfo.name }}{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          {% for key,value in info.items %}
          <div class="card-body">
            {{key}} : {{ value|linebreaksbr }}
          </div>
          {% endfor %}
          <div class="card-footer">
            <a class="btn btn-success btn-block my-2" href="{% url 'company:index' %}">企業一覧へ</a>
            <a class="btn btn-primary btn-block my-2" href="{% url 'company:updateinfo' companyinfo.id %}?next={{ request.get_full_path }}">修正</a>
            <form method="post" action="{% url 'company:deleteinfo' companyinfo.id %}">{% csrf_token %}
              <button class="btn btn-danger btn-block" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}