{% extends "base/user_base.html" %}
{% block title %}企業リスト{% endblock %}
{% block active_company %}active{% endblock %}
{% block content %}
<h3>{{date}}現在</h3>
<form class='mt-4' method="POST" action="{% url 'company:sort' %}">
  {% csrf_token %}
  {% for field in form %}
    <span class='mr-3'>{{ field.label_tag }} {{ field }}</span>
  {% endfor %}
  <button class="btn-sm btn-primary" type="submit">並び替え</button>
</form>
{% endblock %}
{% block content2 %}
    <!-- xs -->
      {% for company in company_list %}
        <table class='table table-sm table-striped table-bordered table-responsive d-block d-md-none'>
          <thead></thead>
          <tbody>
              <tr class='table-info'>
                <th scope='row'>{{ forloop.counter }}</th>
                <th class="w-50" scope='col'>企業名<span class='text-danger'></span></th>
                <th class="w-50" scope='col'>{{ company.name }}</th>
              </tr>
              <tr>
                <th scope='row'></th>
                <td scope='col'>ポジション</td>
                <td>{{ company.position }}</td>
              </tr>
              <tr>
                <th scope='row'></th>
                <td scope='col'>志望度</td>
                <td scope='col'>{{ company.desire }}</td>
              </tr>
              <tr>
                <th scope='row'></th>
                <td scope='col'>ステータス</td>
                <td scope='col'>{{ company.status }}</td>
              </tr>
              <tr>
                <th scope='row'></th>
                <td scope='col'>次のステップ</td>
                <td scope='col'>{{ company.next }}</td>
              </tr>
              <tr>
                <th scope='row'></th>
                <td scope='col'>期限</td>
                <td scope='col'>{{ company.deadline.month }}/{{ company.deadline.day }}</td>
              </tr>
              <tr>
                <th scope='row'></th>
                <td scope='col'>メニュー</td>
                <td scope='col'>
                  <div class="d-block d-md-none dropdown">
                    <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a class='btn btn-warning btn-block' href="{% url 'company:info' company.id %}">企業情報</a></li>
                      <li><a class='btn btn-info btn-block my-1' href="{% url 'company:update' company.id %}?next={{ request.get_full_path }}">編集</a></li>
                      <li><a class='btn btn-danger btn-block' href="{% url 'company:delete' company.id %}?next={{ request.get_full_path }}">削除</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      {% endfor %}
    <!-- md -->
        <table class='table table-striped table-bordered d-none d-md-block'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>企業名<span class='text-danger'></span></th>
              <th class="w-25" scope='col'>ポジション</th>
              <th scope='col'>志望度</th>
              <th scope='col'>ステータス</th>
              <th scope='col'>次のステップ</th>
              <th scope='col'>期限</th>
              <th scope='col'>メニュー</th>
            </tr>
          </thead>
          <tbody>
            {% for company in company_list %}
              <tr>
                <th scope='row'>{{ forloop.counter }}</th>
                <td>{{ company.name }}</td>
                <td>{{ company.position }}</td>
                <td>{{ company.desire }}</td>
                <td>{{ company.status }}</td>
                <td>{{ company.next }}</td>
                <td>{{ company.deadline.month }}/{{ company.deadline.day }}</td>
                <td>
                  <div class="d-none d-md-block dropdown">
                    <button type="button" class="btn-xs btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>menu</button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a class='btn btn-warning btn-block' href="{% url 'company:info' company.id %}">企業情報</a></li>
                      <li><a class='btn btn-info btn-block my-1' href="{% url 'company:update' company.id %}?next={{ request.get_full_path }}">編集</a></li>
                      <li><a class='btn btn-danger btn-block' href="{% url 'company:delete' company.id %}?next={{ request.get_full_path }}">削除</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
