{% extends "base/base.html" %}
{% load static %}
{% block title %}トップページ{% endblock %}

{% block li %}
    {% if user.is_authenticated %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'accounts:profile' %}">就活を始める</a>
    </li>
    {%else%}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'account_login' %}">ログイン</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="{% url 'account_signup' %}">新規登録</a>
    </li>
    {%endif%}
{% endblock %}
{% block content %}
  <br>
  <h1 class="mb-1 pt-5">就活<br>Manager</h1>
  <h3 class="mb-5">
    <em></em>
  </h3>
  <div class="row mx-auto col-md-10 col-lg-7 col-xl-6">
    <div class="my-3 col-md mx-auto">
      <a class="btn btn-primary btn-block js-scroll-trigger" href="{% url 'account_login' %}">ログイン</a>
    </div>
    <div class="my-3 col-md mx-auto">
      <a class="btn btn-success btn-block js-scroll-trigger" href="{% url 'account_signup' %}">新規登録</a>
    </div>
{% endblock %}
{% block content2 %}
{% endblock %}
