{% extends "base/user_base.html" %}
{% block title %}企業リスト{% endblock %}
{% block active_company %}active{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}
        <table class='table border col-12'>
          <thead>
            <tr>
              <th scope='col'></th>
              <th scope='col'>会社名 : <span class='text-danger'></span></th>
              <th scope='col'>ステータス</th>
              <th scope='col'>編集</th>
              <th scope='col'>削除</th>
            </tr>
          </thead>
          <tbody class='sortable'>
            {% for company in company_list %}
              <tr>
                <th name="num_data" scope='row'>{{ forloop.counter }}</th>
                <td>{{ company.name }}</td>
                <td>{{ company.status }}</td>
                <!-- {% block change_button %}{% endblock %} -->
                <td><a href="{% url 'company:update' company.id %}?next={{ request.get_full_path }}">edit</a></td>
                <td><a href="{% url 'company:delete' company.id %}?next={{ request.get_full_path }}">del</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
